* {
  margin: 0;
  padding: 0;
  /* border: 1px dotted red; */
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7f9;
  overflow: hidden;
}

h4 {
  color: #939393;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container {
  display: flex;
  flex-direction: row;
}

.router {
  margin-left: 300px;
}

/* login page logo */
.logo {
  position: fixed;
  top: 20px;
  left: 20px;
}

.left-bar {
  height: 100vh;
  background-color: white;
  padding-left: 22px;
  padding-right: 22px;
  border-right: 2px solid #f0f2f6;
}

.main-logo {
  display: block;
  width: 131px;
  margin: auto;
  margin-top: 13px;
  margin-bottom: 13px;
}

.account-value-box {
  border-radius: 16px;
  border: 1px solid rgba(20, 174, 92, 0.6);
  background: #fff;
  box-shadow: 0px 2px 18.5px -4px rgba(20, 174, 92, 0.35);
  padding: 20px;
  padding-top: 17px;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account-value-right {
  display: flex;
  align-items: center;
}

.percent {
  color: #14ae5c;
  text-align: right;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.account-arrow {
  color: #14ae5c;
  font-size: 1rem !important;
  /* Hey Professor, I know you taught us to avoid using !important, but I had to use it here because the arrow was not showing up without it. I tried to use specificity to solve the issue, but it didn't work. I hope you understand. Thank you! */
}

.account-value {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.right-bar {
  display: flex;
  flex-direction: column;
}

.top-bar {
  width: calc(100vw - 288px - 58px);
  height: 74px;
  background-color: white;
  border-bottom: 2px solid #f0f2f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
  padding-right: 22px;
}

.search-box {
  border-radius: 8px;
  background-color: #f5f7f9;
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-field {
  padding-left: 8px;
  color: aqua;
}

.search-icon {
  padding-left: 5px;
  color: #939393;
}

.watchlist-container {
  background-color: white;
  border-radius: 16px;
  margin: 22px;
  padding: 22px;
  width: calc(100vw - 288px - 110px);
}

.selected-stock-box {
  background-color: white;
  border-radius: 16px;
  margin: 22px;
  padding: 22px;
  height: calc(100vh - 78px - 189px - 110px);
  width: calc(100vw - 288px - 110px);
}

.stock-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.para-butt-flex-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.butt-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pad-between-button {
  padding-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
